/***********************
 *	.... ©2017
 *
 *	Project		: ArcGIS-2d
 *	Author		: Todd Mullen
 *	Document	: app.css
 *	Created		: Nov 3, 2017, 8:56:36 PM
 *	Description	:
 *		Styles for
 ***********************/



html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#divContainer{
	height: 80%; width: 80%;
	margin: 35px auto;
}


#layerToggle{
	margin-left: 10px;
}
nav{
	display: block;
    /* margin: 10px 5px; */
    /* transform: rotate(-90deg); */
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 120px;
    text-align: right;
    padding-left: 0;
}
nav ul,
nav li{
	padding-left: 0;
	/*margin-left: -20px;*/
	width: 100%
}

nav li{
	display: inline-block;
	float: left;
	margin: 0 2px 0 0;

}